{% extends 'home.html' %}

{% block content %}

<div class="card-container">
    <div class="img-card">
        <img src="static/img/pvschshekar.jpg" alt="Shekar">
        <div class="card-content">
            <h3>Card 1</h3>
            <p>Parepalli Venkata Satya Chandrashekar is a professional actively seeking career opportunities with experience in Python, full stack, machine learning, and SQL.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
    <div class="img-card">
        <img src="static/img/pvschshekar.jpg" alt="Shekar">
        <div class="card-content">
            <h3>Card 2</h3>
            <p>Parepalli Venkata Satya Chandrashekar is a professional actively seeking career opportunities with experience in Python, full stack, machine learning, and SQL.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
    <div class="img-card">
        <img src="static/img/pvschshekar.jpg" alt="Shekar">
        <div class="card-content">
            <h3>Card 3</h3>
            <p>Parepalli Venkata Satya Chandrashekar is a professional actively seeking career opportunities with experience in Python, full stack, machine learning, and SQL.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</div>

{% endblock %}
